{% extends 'base.html' %}
{% block content %}

  <!--Pattern HTML-->
  <section   style="margin-top: 200px;">

				<div style="margin-left: 530px;">
					<a href="AddBook"> <img src="https://pic.onlinewebfonts.com/svg/img_48188.png"width="400" height="300"></a>
					<p >Add Book</p>
				</div>
	  
				<div style="margin-left: 530px;margin-top: 230px;">
					<a href="ViewBook"><img src="https://cdn3.iconfinder.com/data/icons/gray-search-view-toolbar/512/search_book-512.png"></a>
					<p>View All Book</p>
				</div>





	</section>


{% endblock content %}